<h2>Iniciar sesión</h2>
<form action="/login" method="POST">
  <label>Email:</label>
  <input type="email" name="email" required />
  <label>Contraseña:</label>
  <input type="password" name="contraseña" required />
  <button type="submit">Ingresar</button>
</form>