<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>KioscoApp</title>
    <link rel="stylesheet" href="/css/styles.css" />
    {{! Si tenés un CSS }}
  </head>
  <body>
    <header>
      <h1>KioscoApp</h1>
      <nav>
        <a href="/">Inicio</a>
        |
        <a href="/products">Productos</a>
      </nav>
      <hr />
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <hr />
      <p>&copy; 2025 - KioscoApp</p>
    </footer>
  </body>
</html>